$container-size: 200px;
$container-border: 3px solid black;
$hover-bg-color: rgb(113, 113, 206);
$small-size: 20px;
$border-radius: 50%;
$detail-width: 100px;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    height: $container-size;
    width: $container-size;
    border: $container-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.container:hover {
    background-color: $hover-bg-color;
}

.container:hover > .hat {
    background-color: $hover-bg-color;
}

.container:hover .mouth {
    height: $small-size;
    width: $small-size;
    border-radius: $border-radius;
}

.face {
    height: 250px;
    width: $detail-width;
    border-radius: 50% 50% 80% 80%;
    background-color: rgb(231, 209, 85);
    border-bottom: 3px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.hat {
    height: $container-size;
    width: $detail-width;
    border-radius: 25% 25% 0 0;
    background-color: black;
    position: relative;
    bottom: -10px;
}
.eyes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:$detail-width;
    height: 25px;
    margin-top: $small-size;
}
.eye {
    height: $small-size;
    width: $small-size;
    border-radius: $border-radius;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eyeball {
    height: 6px;
    width: 6px;
    border-radius: $border-radius;
    background-color: white;
}
.mouth {
    width: 50px;
    height: 10px;
    background-color: rgb(173, 36, 59);
    border-radius: 40%;
}
.neck {
    position: relative;
    top: -5px;
    z-index: 0;
    height: 30px;
    width: 55px;
    background-color: rgb(245, 201, 143);
}
.shirt {
    height: $container-size;
    width: 160px;
    background-color: black;
    border-radius: 35% 35% 0 0;
    position: relative;
    top: -5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.shirt-left {
    width: 75px;
    height: $container-size;
    background-color: red;
    border-right: 4px solid gold;
}
.shirt-right {
    width: 75px;
    height: $container-size;
    background-color: red;
}
.buttons {
    width: 2px;
    height: $container-size;
    border-left: 8px dotted gold;
    position: relative;
    top: 2px;
}